# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
csharp/text2jsonEnglishWords/.vs/text2jsonEnglishWords/v16/.suo
csharp/text2jsonEnglishWords/bin/Debug/72external.json
csharp/text2jsonEnglishWords/bin/Debug/Nancy.dll
csharp/text2jsonEnglishWords/bin/Debug/Nancy.xml
csharp/text2jsonEnglishWords/bin/Debug/Newtonsoft.Json.dll
csharp/text2jsonEnglishWords/bin/Debug/Newtonsoft.Json.xml
csharp/text2jsonEnglishWords/bin/Debug/text2jsonEnglishWords.exe
csharp/text2jsonEnglishWords/bin/Debug/text2jsonEnglishWords.exe.config
csharp/text2jsonEnglishWords/bin/Debug/text2jsonEnglishWords.pdb
csharp/text2jsonEnglishWords/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
csharp/text2jsonEnglishWords/obj/Debug/DesignTimeResolveAssemblyReferences.cache
csharp/text2jsonEnglishWords/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.csproj.CopyComplete
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.csproj.CoreCompileInputs.cache
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.csproj.FileListAbsolute.txt
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.csproj.GenerateResource.cache
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.csprojAssemblyReference.cache
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.exe
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.pdb
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.Properties.Resources.resources
csharp/text2jsonEnglishWords/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
csharp/text2jsonEnglishWords/packages/Nancy.2.0.0/.signature.p7s
csharp/text2jsonEnglishWords/packages/Nancy.2.0.0/Nancy.2.0.0.nupkg
csharp/text2jsonEnglishWords/packages/Nancy.2.0.0/lib/net452/Nancy.dll
csharp/text2jsonEnglishWords/packages/Nancy.2.0.0/lib/net452/Nancy.xml
csharp/text2jsonEnglishWords/packages/Nancy.2.0.0/lib/netstandard2.0/Nancy.dll
csharp/text2jsonEnglishWords/packages/Nancy.2.0.0/lib/netstandard2.0/Nancy.xml
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/.signature.p7s
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/LICENSE.md
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/Newtonsoft.Json.13.0.1.nupkg
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/packageIcon.png
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.dll
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.xml
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.dll
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.xml
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.dll
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.xml
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.dll
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.xml
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.dll
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.xml
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.dll
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.xml
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.csproj.SuggestedBindingRedirects.cache
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.csproj.AssemblyReference.cache
csharp/text2jsonEnglishWords/obj/Debug/build.force
csharp/text2jsonEnglishWords/.vs/text2jsonEnglishWords/v17/.suo
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.csproj.AssemblyReference.cache
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.csproj.AssemblyReference.cache
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.csproj.AssemblyReference.cache
.angular/cache/angular-webpack/fc186a625fa0a9d660b685de009bd53b04ed4049/0.pack
.angular/cache/angular-webpack/fc186a625fa0a9d660b685de009bd53b04ed4049/index.pack
.angular/cache/babel-webpack/0c52b9d5d72b9625f2ea838d7258ab2c.json
.angular/cache/babel-webpack/0c83b4cd843b3fbf9d5763becba7d980.json
.angular/cache/babel-webpack/0da71b172964a673341ed1540cb8d9e7.json
.angular/cache/babel-webpack/0f265cd07284d5f4201077477618d0de.json
.angular/cache/babel-webpack/0f55479c4ce4ec0acfd691c94fa5992b.json
.angular/cache/babel-webpack/0ffc73ff04c52c0d4e2231b771d78367.json
.angular/cache/babel-webpack/01a9a7b741fc390199e9b1e97e07afaf.json
.angular/cache/babel-webpack/1d6a6ce30f9891629f01b95304161a0d.json
.angular/cache/babel-webpack/1de631497c483f0e9503b73622fe57b3.json
.angular/cache/babel-webpack/1e7121b1a92a30c8919575141c36a71f.json
.angular/cache/babel-webpack/2a4d7125dc7b584cccc450b9baec7666.json
.angular/cache/babel-webpack/2e8d3d9e154aa83ba6754aa2b5da8111.json
.angular/cache/babel-webpack/2f0a49044b01d25cd3af1364dbf0f8f2.json
.angular/cache/babel-webpack/2f2763da2a8a0c03198e21ba6e2b89cd.json
.angular/cache/babel-webpack/3a7f7736788e08b756200d1b8aaa6304.json
.angular/cache/babel-webpack/3a49e9d144234c6fdf73e890d096fe5a.json
.angular/cache/babel-webpack/03a24357dd9334721fde5326f9521760.json
.angular/cache/babel-webpack/3bb94e7bdcb1f59cff6515e2c647f2ce.json
.angular/cache/babel-webpack/03c66fdf0b3d1a1c4ff102708f36afed.json
.angular/cache/babel-webpack/3d5420e38d4ca704c571c05df12e786f.json
.angular/cache/babel-webpack/3dbe844b7def834127219cdae2250733.json
.angular/cache/babel-webpack/3e2d9706cefcda82595d4441b9eb1e19.json
.angular/cache/babel-webpack/3e21358719d972117fad6c6c20c503c8.json
.angular/cache/babel-webpack/3ea3bad47a3ba0e62bfae16e18cbd44d.json
.angular/cache/babel-webpack/3ea7073b1e3c24d6b0d1878bf40831c1.json
.angular/cache/babel-webpack/3f12fbcb63c194dac0e3bd52bd0fbfc1.json
.angular/cache/babel-webpack/4a25e2e17d7e414590fb012e116d37ee.json
.angular/cache/babel-webpack/4a72f22ab6fe45f571a4602cc512464a.json
.angular/cache/babel-webpack/4a9079592eb9680288caf6f6e10762b5.json
.angular/cache/babel-webpack/4b440bc405c545d2b65bc08cdde6e07b.json
.angular/cache/babel-webpack/4ba32e94f2ea2b192c3fbc0d22977524.json
.angular/cache/babel-webpack/4c66e41076ca38503895d2f25871e57c.json
.angular/cache/babel-webpack/4c521e7ddac513e719184c2191e740b5.json
.angular/cache/babel-webpack/4cdd9bfee7ff04501fa85aa16eb3ca3a.json
.angular/cache/babel-webpack/4d929245f322766f3c93b5f63a1c1a72.json
.angular/cache/babel-webpack/4f9e4f8ec7a0f9596e25190250638ecd.json
.angular/cache/babel-webpack/5a1cb1e9669d3e04cbadf2733007a1fd.json
.angular/cache/babel-webpack/5e033ec5d5f59938bed03fc47eb470c2.json
.angular/cache/babel-webpack/5eef00b02f305c00797021edd101c821.json
.angular/cache/babel-webpack/5efc673923dab511e0f2976bbe62b693.json
.angular/cache/babel-webpack/5f21aa2f8cf0a9347b2bbcab70bf5aa7.json
.angular/cache/babel-webpack/5f25d0daed7dfba13399f15981214b79.json
.angular/cache/babel-webpack/5f688e0e55db09e80e5e6d2d261422e0.json
.angular/cache/babel-webpack/5f00949da5a88d68a84b29f153fe6996.json
.angular/cache/babel-webpack/6b8d0c5b29e18ee0a9cff59a34c1e666.json
.angular/cache/babel-webpack/6ba7b8ac7ebd8c94c5674866161f5fd7.json
.angular/cache/babel-webpack/6bfaebff06b6d96129c1d0948d937f4c.json
.angular/cache/babel-webpack/6d7c9c00b47a4b7a1b68cf3ec0f05c93.json
.angular/cache/babel-webpack/6efffdbef58681b45b902cf39070157e.json
.angular/cache/babel-webpack/6f899abea7241094867dfd275f461dd1.json
.angular/cache/babel-webpack/7de9e7c408c0ee0eae71b6100eaffd11.json
.angular/cache/babel-webpack/7e52443e7b78a81e5922dbd3bf655af6.json
.angular/cache/babel-webpack/8cd0ec55829b7b734e10d436608f6e6c.json
.angular/cache/babel-webpack/8e8ff248051de195144a9261d03b3899.json
.angular/cache/babel-webpack/8f12733be2d92e1425d45e5ff4d769c8.json
.angular/cache/babel-webpack/8fcd44567f4140f1ba39e51230903ba3.json
.angular/cache/babel-webpack/008fddfb9b843c5380c46be49e1b3361.json
.angular/cache/babel-webpack/9ac6b4f3b5c08e0f6c273d93189c4385.json
.angular/cache/babel-webpack/9b6e00a73a0546836e66c89a75790947.json
.angular/cache/babel-webpack/9b46ff776de255db3804fa48fb6b1b93.json
.angular/cache/babel-webpack/9ce51cc325c34e969f0bae5d5a7e2989.json
.angular/cache/babel-webpack/9d5e456cfc935becf6d89d77c942810d.json
.angular/cache/babel-webpack/9d137797f41abff5cda8357b0334b8d6.json
.angular/cache/babel-webpack/9fb32dad727710b5257f6c82a6f2ce4b.json
.angular/cache/babel-webpack/9fbb0cd830a75ddb4f4987263a8e25cb.json
.angular/cache/babel-webpack/10e7ed42f0a5836e1b8bc96ba5e2c379.json
.angular/cache/babel-webpack/16afa042e52257c8309926db95276497.json
.angular/cache/babel-webpack/19a6b6163d7f72afbcde84711dd5a901.json
.angular/cache/babel-webpack/19e9abdcfb960e6015cad1e49ee82df0.json
.angular/cache/babel-webpack/22c123cfb077078c75feb919e49376ee.json
.angular/cache/babel-webpack/024a0bfb4fae323cd4578970b0124a46.json
.angular/cache/babel-webpack/24df9bc6adf4c5c72f5907d8e24ed9de.json
.angular/cache/babel-webpack/33e34599d3df8226d1cbcf6758f2e721.json
.angular/cache/babel-webpack/35fcedd1bb939936d9710524ecbad12f.json
.angular/cache/babel-webpack/37b46aa989184a378f19d9ebaad6eb0b.json
.angular/cache/babel-webpack/40ccfdc3e20b95abb4051b82833e42ee.json
.angular/cache/babel-webpack/47eab3ea83c6a0ac0c6bc2e397f5990a.json
.angular/cache/babel-webpack/48f99eb6f75d2f039af0933937c76bbf.json
.angular/cache/babel-webpack/50b3dda693709d8f74ae43b25b6dd019.json
.angular/cache/babel-webpack/51d92831b9ffff640e91caac389e6298.json
.angular/cache/babel-webpack/57eedf714c2b547faf1bbc3360323e75.json
.angular/cache/babel-webpack/58e5117cae4acd12f422250f1c225ecc.json
.angular/cache/babel-webpack/59a0acb99914ca0243b94e7638fd8f27.json
.angular/cache/babel-webpack/59cefc27246d9d4fb33f6d8125c47cac.json
.angular/cache/babel-webpack/59fc7e1001f0c8fafe812ea472ba0c6d.json
.angular/cache/babel-webpack/60d3170a789c74069b8ea1da47136685.json
.angular/cache/babel-webpack/64d4ed970219c87335fe2599a7a375a4.json
.angular/cache/babel-webpack/067b7cabd69813ce1db27bcbd1bee7b7.json
.angular/cache/babel-webpack/68c13a6a9562b1430bdcb1a61bc56a5c.json
.angular/cache/babel-webpack/71e649db0e53430642456123cb70a85c.json
.angular/cache/babel-webpack/72a44766949d54b83033c25e751cd9db.json
.angular/cache/babel-webpack/78abc70fdca5b547280bda850fff20a2.json
.angular/cache/babel-webpack/86fc53b9c7ecfd056a3a6936c36edfc0.json
.angular/cache/babel-webpack/91ae1d9f05964cdf3af1de34b7f2aa45.json
.angular/cache/babel-webpack/94c0852d376ead1b02faf7df8f982df2.json
.angular/cache/babel-webpack/95a20cd15b8107f272c949c688a3c850.json
.angular/cache/babel-webpack/095e298a6d9ef10e14a2c72fe9b65e14.json
.angular/cache/babel-webpack/96d0101324fd7f80973c6e27fea90ed1.json
.angular/cache/babel-webpack/96e8bf474cbceb849571351542dcc7f2.json
.angular/cache/babel-webpack/96eb1705732eb57ca97b501cfb336ac9.json
.angular/cache/babel-webpack/99d640564ff5f0a97c41364ebb34eaac.json
.angular/cache/babel-webpack/162f1c10f740482691976bf1c584ea4e.json
.angular/cache/babel-webpack/166b6d336093c929521ec8bc1a8aac2d.json
.angular/cache/babel-webpack/176d5d54cbdcecc979ec785180c32f0e.json
.angular/cache/babel-webpack/192a34997d8daca216b68ea8890ad45e.json
.angular/cache/babel-webpack/209d7efe99b855cc9d7835fe74820dcb.json
.angular/cache/babel-webpack/0232f5b904dfa9f320618efc49b9a016.json
.angular/cache/babel-webpack/241e0446718f11d239785a8f39239a6b.json
.angular/cache/babel-webpack/267c83f7bd020866f511d9132d91fd26.json
.angular/cache/babel-webpack/371ea210ca9a881cacbbdf4436f71b7b.json
.angular/cache/babel-webpack/401afc125268e7935c9701e0ac90afa8.json
.angular/cache/babel-webpack/0426dee3be23b93ca4339eef4b56e30b.json
.angular/cache/babel-webpack/449f9455154a7f0c73a4c06526f936ed.json
.angular/cache/babel-webpack/453b585ff341ebad8b0c9ccc85d924cc.json
.angular/cache/babel-webpack/493de7eb8471984e6d2b576235594ec0.json
.angular/cache/babel-webpack/501aa5a9bdf9f789e6b0927557e03f43.json
.angular/cache/babel-webpack/556f6dfcbaedcefb65b8f008e28a8482.json
.angular/cache/babel-webpack/616ba664ecffe34e35660523a5392e43.json
.angular/cache/babel-webpack/618fc19529f5d1c48f4b31396f11b5f2.json
.angular/cache/babel-webpack/663bbfae22d7aeffa2816563322bca36.json
.angular/cache/babel-webpack/682d4cd57cbfb3cd0865ae6c5ec294dc.json
.angular/cache/babel-webpack/755c18ad3b8b60a95a8fa269ceb9a128.json
.angular/cache/babel-webpack/795d28763c771eeca81e5bf19977886f.json
.angular/cache/babel-webpack/884ced68642483728ebed27a1dcb6e94.json
.angular/cache/babel-webpack/888cc9473fbf032baaf8a0c5dbc992c9.json
.angular/cache/babel-webpack/0890a0e2ba5213c0cee20a6ae28a98e4.json
.angular/cache/babel-webpack/931bf4d354a9ac8dc51e5961adeb9171.json
.angular/cache/babel-webpack/942b8085619c83199ae62ff63c754081.json
.angular/cache/babel-webpack/947c57610be1369cfe8199b0cddbe4e8.json
.angular/cache/babel-webpack/3266c03a5664d9f6eee1298032b22761.json
.angular/cache/babel-webpack/3823e69d3940b74ef2286231404ee184.json
.angular/cache/babel-webpack/3823f8e082e954f0004ad5c52fbc4d6a.json
.angular/cache/babel-webpack/5001a474bc69e79aa7e0898da6400870.json
.angular/cache/babel-webpack/5042a078ee48a6fabe38e7bde438de7e.json
.angular/cache/babel-webpack/05486cab56e04adaba6deb2804e341b8.json
.angular/cache/babel-webpack/6733e5e9a8f9e8f012e84e358f851c6b.json
.angular/cache/babel-webpack/07123dd1e6ed82982e2e1a993ac5e6e6.json
.angular/cache/babel-webpack/7767c73cb429ae9806b5798a4ce00924.json
.angular/cache/babel-webpack/7790c3ccb459d98159863e4f4dda9bce.json
.angular/cache/babel-webpack/8921c1c07bcb128602500b3286506fbf.json
.angular/cache/babel-webpack/17268e1501ab6c6035e393774668120c.json
.angular/cache/babel-webpack/39479f863dbda4613382097b49c5f44d.json
.angular/cache/babel-webpack/51201bc4f9df54f29dbeeb987a715862.json
.angular/cache/babel-webpack/52542a117b457d3c4b343df66982a806.json
.angular/cache/babel-webpack/57568aeefd606ee94ab13960dab5cdf4.json
.angular/cache/babel-webpack/79765a5df4cb18084e405f8ebe02b658.json
.angular/cache/babel-webpack/80980f18fcd597c1a38e0079e5da04ec.json
.angular/cache/babel-webpack/86269fe81f7a6cf8e8d0ab629ec85a54.json
.angular/cache/babel-webpack/89962c74b9f2452c9101e7610f455de2.json
.angular/cache/babel-webpack/95782c76df519d1415b48590590006ff.json
.angular/cache/babel-webpack/385584c48825b313c0bad23d1f63741d.json
.angular/cache/babel-webpack/764407d6c29ea5d06ee074a537bdad09.json
.angular/cache/babel-webpack/818633a4db848d085e6b7dce352a937b.json
.angular/cache/babel-webpack/865570ac34db8aa30308abe84728678f.json
.angular/cache/babel-webpack/981918a460b765142b91fdc8a6082ff8.json
.angular/cache/babel-webpack/1234419e3a2f67d407a5c0bac73ab75e.json
.angular/cache/babel-webpack/3045092b1b397b26c08e8d1d4f133a7f.json
.angular/cache/babel-webpack/3761104ae7878964c86f7d22539f0351.json
.angular/cache/babel-webpack/4157944c96a0bb3e6da4e16a33c28af7.json
.angular/cache/babel-webpack/4970604f51a92655c569ffd136d82faa.json
.angular/cache/babel-webpack/5140305da00a92a1e9f690cdb10aff77.json
.angular/cache/babel-webpack/5471045a822fae395a94770186af8c04.json
.angular/cache/babel-webpack/6936212a6043c7fc5dc3bfbb385ccd6e.json
.angular/cache/babel-webpack/9127432f177611ac705e506d590f4f98.json
.angular/cache/babel-webpack/634967615a60175e3d99f24c8da956d9.json
.angular/cache/babel-webpack/52094041910edbde92ae60fab0327b54.json
.angular/cache/babel-webpack/70114639613dbf03d7b615ea456e47a0.json
.angular/cache/babel-webpack/456535483704c0c9dbe14d5246c75b13.json
.angular/cache/babel-webpack/579370790666bddb171e2ca77ec4cb5d.json
.angular/cache/babel-webpack/a6ed5cc089143bd57bcd563f1452d2af.json
.angular/cache/babel-webpack/a9df9f1f0b876c1d7c6e603e9bb49c3a.json
.angular/cache/babel-webpack/a81c357276570dac657c161e61024757.json
.angular/cache/babel-webpack/a97edaba5e3ba0493eef4fe9b0ba5ab2.json
.angular/cache/babel-webpack/a578b4a81d3451097c0540e73f38f4d0.json
.angular/cache/babel-webpack/a2086ae83cdb51fb47339735fb4d808a.json
.angular/cache/babel-webpack/a25257ebe4f8241a3e34d7b4a68b7399.json
.angular/cache/babel-webpack/a28902e467f8b55401b9f246a70588cb.json
.angular/cache/babel-webpack/aa8f3a7d40d08a4aff336a50b1911505.json
.angular/cache/babel-webpack/aa69ca8dbe8be240e2832e3a24ba0fef.json
.angular/cache/babel-webpack/aa931cafb1177c0e2f222600023e5515.json
.angular/cache/babel-webpack/aafbf756bea7ecd36dd76345e4688321.json
.angular/cache/babel-webpack/ab0883d5b2dd7efca02d538e22e9ab99.json
.angular/cache/babel-webpack/af13a3aaefa06a8253401c34c8861f0b.json
.angular/cache/babel-webpack/b2fd48bb8c2b33c9c6957c979501532a.json
.angular/cache/babel-webpack/b06d101f84eabc082f5af761a2ad30fd.json
.angular/cache/babel-webpack/b9db6e5e2387764d07c371b0821cdfe7.json
.angular/cache/babel-webpack/b020f184519d1959fea354591b2d44f1.json
.angular/cache/babel-webpack/b54dc96c3ee01142f277681a09d1b470.json
.angular/cache/babel-webpack/b78d602d282df5254256c16fc6007f7d.json
.angular/cache/babel-webpack/b88a4eea2acb9dbe854e0152be179df7.json
.angular/cache/babel-webpack/b4989dec22618d458185203537f92a25.json
.angular/cache/babel-webpack/b86044688c175f28501ba000a222937c.json
.angular/cache/babel-webpack/b3573990495b80e81285d219d828d2bc.json
.angular/cache/babel-webpack/b40707787083b3117ffce7f79a459b80.json
.angular/cache/babel-webpack/bb38cdaeb543502148246d5426e41ce3.json
.angular/cache/babel-webpack/bbb57dc964dfcddd87030f846300b393.json
.angular/cache/babel-webpack/bd2c15e871bcb91929b983c758f51411.json
.angular/cache/babel-webpack/bdcda7bb4a91956e466e7c62e6f1422f.json
.angular/cache/babel-webpack/bde8d3489b01638374f9a3dae3d18a26.json
.angular/cache/babel-webpack/beec4e8f5ea8f7346baec82c276067ba.json
.angular/cache/babel-webpack/bf3bfc06d460789701528f8cec62fef1.json
.angular/cache/babel-webpack/bf935ff1274e6fc89caca88d7391ff88.json
.angular/cache/babel-webpack/c3f57bd2d451abba7aeccc89a5a3f054.json
.angular/cache/babel-webpack/c6a41ca6f470107c26d2d640de2c3ff0.json
.angular/cache/babel-webpack/c06ac65ae23ef07c58b91cfe6dc4c37a.json
.angular/cache/babel-webpack/c43f154e4edba4691ce3a68e1af938ad.json
.angular/cache/babel-webpack/c56aa2c317017bed04f66df5a1e31a21.json
.angular/cache/babel-webpack/c125bb91581b101f5bf56fe5a62a7b93.json
.angular/cache/babel-webpack/c200b95285c6884902c030a582d617d7.json
.angular/cache/babel-webpack/c660d443a0c802a5c3c1e27c2fee0243.json
.angular/cache/babel-webpack/c5496e8d12ab0010f08eeea83c40bf0d.json
.angular/cache/babel-webpack/c14850eb17b7452fa42ccef7ba5a5fd7.json
.angular/cache/babel-webpack/c742794b095c601e42d8331392dd6005.json
.angular/cache/babel-webpack/c4367120b16ba1eee75f7b53fc95ce5b.json
.angular/cache/babel-webpack/c61991264ce1af433a7bc4c0de5c1aef.json
.angular/cache/babel-webpack/c724324248f8a9a0af9c81ca3df4a492.json
.angular/cache/babel-webpack/ca01bd8d79d1c8dee1c6c2c6c57c2b0f.json
.angular/cache/babel-webpack/cb10aeb2e99fdf04e476f02fae5ae9b9.json
.angular/cache/babel-webpack/cc62c869b2e61634e61b6fc4ac0d89c8.json
.angular/cache/babel-webpack/ce8bbf12126a3d5e293ddf99bc316125.json
.angular/cache/babel-webpack/ce35970c7401a6dd22f9fe73fff4fc4d.json
.angular/cache/babel-webpack/cf2c58891fb63bff042858de3e56fe71.json
.angular/cache/babel-webpack/cf895f78668c9a63f36dbe0afa1d8888.json
.angular/cache/babel-webpack/cf67314f863b6157e3abf05c8ad13195.json
.angular/cache/babel-webpack/d2dd34e905e8cf3bf89fc99eff0a1c7a.json
.angular/cache/babel-webpack/d7e4ea593000ca79bae5b6753320e646.json
.angular/cache/babel-webpack/d41c154554552a0919d15a6b496b1b1f.json
.angular/cache/babel-webpack/d69b7c911133a00ef6d76ba7e3a0aed7.json
.angular/cache/babel-webpack/d4594eb64a5e03ef411a2227a50cef30.json
.angular/cache/babel-webpack/da1cc5c9ee0d1e02779e197c2bf34c2b.json
.angular/cache/babel-webpack/da71ce9e325fa47ae797b2cf303e3cc1.json
.angular/cache/babel-webpack/da90a68c8fd1313ad8a5829e127ac65b.json
.angular/cache/babel-webpack/da329d8336cc67a1d9ada0c9689b7e09.json
.angular/cache/babel-webpack/dc2d48c7a55a3d9acd8bbc2a9209bf6b.json
.angular/cache/babel-webpack/dc120e2c8b179c59f9d636c101792ca4.json
.angular/cache/babel-webpack/de419ea8f46a39a948f1f01407343c8a.json
.angular/cache/babel-webpack/de845c0fe6ab2ac3340d6c9562c8c808.json
.angular/cache/babel-webpack/df2150dde4cbd95e4da1e574f568083f.json
.angular/cache/babel-webpack/e8b31f8eb4be28e5ecc4585a261787b3.json
.angular/cache/babel-webpack/e9ee1fdecdc7632ecc3d7fa96c6670db.json
.angular/cache/babel-webpack/e9f8d8285fc83ac2697204e5239c8d75.json
.angular/cache/babel-webpack/e52f8e4afe16213901f4744904e0184f.json
.angular/cache/babel-webpack/e62d7969c7013e6e0764c310df49efa0.json
.angular/cache/babel-webpack/e39927f372b5ab8b13458e704d874ae5.json
.angular/cache/babel-webpack/e1713564e2601d49cd59fd99f6081274.json
.angular/cache/babel-webpack/e369280437bcad1d39f829401a0e8d34.json
.angular/cache/babel-webpack/eb2c40eec98ac0bce9e97ee4fd39809c.json
.angular/cache/babel-webpack/ebc06ac3ab4656f59fe4371eb4a692af.json
.angular/cache/babel-webpack/ed8459f813f275d2590472a063d7dc1b.json
.angular/cache/babel-webpack/ee7bc92c36e51015c7e6f15e195f0858.json
.angular/cache/babel-webpack/f0f8da36412637862a88055e11300ea3.json
.angular/cache/babel-webpack/f2a1657d5455110d94bd10897e672ddb.json
.angular/cache/babel-webpack/f3f73ddeda9185c806b74df1e20e7ac4.json
.angular/cache/babel-webpack/f3ff65d71309292b0cfae539318842e8.json
.angular/cache/babel-webpack/f8c666ebc9b35c313a02e9ebefd09e36.json
.angular/cache/babel-webpack/f23b15504d1fba02d5bbed8467fd6ed5.json
.angular/cache/babel-webpack/f82e7b68c0b64ff84c631a3a5cc3673e.json
.angular/cache/babel-webpack/f5107b0c65c1f22b9bba5e4a0f428838.json
.angular/cache/babel-webpack/fac7a4a3ea8bacb6134afba29929996b.json
.angular/cache/babel-webpack/facc7bd4f6a7262e95d13adc85cf4a64.json
.angular/cache/babel-webpack/fd80e33d32f7343c6edad171773dd8e7.json
.angular/cache/babel-webpack/ff93527e6a6e9f57151b741c17ab5181.json
