# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
csharp/text2jsonEnglishWords/.vs/text2jsonEnglishWords/v16/.suo
csharp/text2jsonEnglishWords/bin/Debug/72external.json
csharp/text2jsonEnglishWords/bin/Debug/Nancy.dll
csharp/text2jsonEnglishWords/bin/Debug/Nancy.xml
csharp/text2jsonEnglishWords/bin/Debug/Newtonsoft.Json.dll
csharp/text2jsonEnglishWords/bin/Debug/Newtonsoft.Json.xml
csharp/text2jsonEnglishWords/bin/Debug/text2jsonEnglishWords.exe
csharp/text2jsonEnglishWords/bin/Debug/text2jsonEnglishWords.exe.config
csharp/text2jsonEnglishWords/bin/Debug/text2jsonEnglishWords.pdb
csharp/text2jsonEnglishWords/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
csharp/text2jsonEnglishWords/obj/Debug/DesignTimeResolveAssemblyReferences.cache
csharp/text2jsonEnglishWords/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.csproj.CopyComplete
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.csproj.CoreCompileInputs.cache
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.csproj.FileListAbsolute.txt
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.csproj.GenerateResource.cache
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.csprojAssemblyReference.cache
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.exe
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.pdb
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.Properties.Resources.resources
csharp/text2jsonEnglishWords/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
csharp/text2jsonEnglishWords/packages/Nancy.2.0.0/.signature.p7s
csharp/text2jsonEnglishWords/packages/Nancy.2.0.0/Nancy.2.0.0.nupkg
csharp/text2jsonEnglishWords/packages/Nancy.2.0.0/lib/net452/Nancy.dll
csharp/text2jsonEnglishWords/packages/Nancy.2.0.0/lib/net452/Nancy.xml
csharp/text2jsonEnglishWords/packages/Nancy.2.0.0/lib/netstandard2.0/Nancy.dll
csharp/text2jsonEnglishWords/packages/Nancy.2.0.0/lib/netstandard2.0/Nancy.xml
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/.signature.p7s
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/LICENSE.md
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/Newtonsoft.Json.13.0.1.nupkg
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/packageIcon.png
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.dll
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.xml
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.dll
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.xml
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.dll
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.xml
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.dll
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.xml
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.dll
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.xml
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.dll
csharp/text2jsonEnglishWords/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.xml
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.csproj.SuggestedBindingRedirects.cache
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.csproj.AssemblyReference.cache
csharp/text2jsonEnglishWords/obj/Debug/build.force
csharp/text2jsonEnglishWords/.vs/text2jsonEnglishWords/v17/.suo
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.csproj.AssemblyReference.cache
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.csproj.AssemblyReference.cache
csharp/text2jsonEnglishWords/obj/Debug/text2jsonEnglishWords.csproj.AssemblyReference.cache
