.wrongWord {
    color: red;
}

.container{
    margin-left: 30px;
    margin-top: 50px;
    margin-right: 50px;
    width: 600px;
}

.disabled
{
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}