<div class="container">
    <h1>{{ currentModule }}</h1>
    <button mat-button (click)="previousModule()">上一模块</button>
    <button mat-button (click)="nextModule()">下一模块</button>

    <h3>{{ currentWordIndex + 1 }} / {{ totalWords }}</h3>
    <div [ngClass]="{'disabled': isDisabled}">
        <app-words [English]="english" [PhoneticSymbols]="phoneticSymbols" [Chinese]="chinese" [Answer]="answer"
            (answerChanged)="answerChanged($event)" (nextWord)="nextWord()" >
            <!-- (nextWord)="nextWord()"  -->
        </app-words>
        <button mat-button (click)="previousWord()">上一个</button>
        <button mat-button (click)="nextWord()">下一个</button>
    </div>
    <button mat-button *ngIf="isCompleted" (click)="completed()">完成</button>
    <button mat-button *ngIf="wrongCount > 0" (click)="reTest()">重做错题</button>
    <br>
    <span *ngIf="correctCount > 0 || wrongCount > 0">正确：{{ correctCount }}</span>
    <span *ngIf="correctCount > 0 || wrongCount > 0">错误：{{ wrongCount }}</span>
    <br>
    <ul *ngFor="let word of wrongWords">
        <li>
            <p>{{ word.Chinese }}</p>
            <p>{{ word.English }}</p>
            <p class="wrongWord">回答：{{ word.answer }}</p>
        </li>
    </ul>
</div>